# SpeechRecognition
# use below instead as Azure Speech is not yet supported on PyPu
# python -m pip install git+https://github.com/Uberi/speech_recognition.git

# pyinstaller shikibu.py --onefile
pyinstaller

google-api-python-client
google-cloud-speech
httplib2
oauth2client
pyasn1
pyasn1-modules
rsa
six
ntpl